{% extends "base.html" %}

{% block title %}{{currentjobs}}{% endblock %}

{% block content %}

<h3>Add Jobs</h2>
    <table class="table" table-bordered>
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Family Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th>job_item</th>
            </tr>
          
        </tbody>
    </table>    

{% endblock %}
