{% extends "base.html" %}

{% block title %}{{currentjoblist}}{% endblock %}

{% block content %}

<h3>Curent Job List</h3>

<!-- code to display list of jobs-->
<table class="table" table-bordered>
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for job in job_list %}
        <tr>
            <td><a href="{{ url_for('addjobs',job_id=job[0])}}">{{job[0]}}</a></td>          
            <td>{{job[1]}}</td>
            <td>{{job[2]}}</td>
            <td>{{job[3]}}</td>
            <td>{{job[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}